*, *::before, *::after {
    box-sizing: border-box;
    font-family: Waltograph;
    font-size: 35px;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.center {
    text-align: center
}

.header {
    padding-top: 0px;
    justify-content: center;
    text-align: center;
    position: fixed; top: 0;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: auto;
    display: flex;
    width: 640px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFB6C1;
}

body.correct {
    --hue: var(--hue-correct)
}

body.wrong {
    --hue: var(--hue-wrong)
}

.container {
    width: 800px;
    max-width: 60%;
    background-color: white;
    border-radius: 5px;
    padding: 640px;
    box-shadow: 0 0 10px 2px;
}

#question-container {
    position: absolute; bottom: 0;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 10px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    outline: none;
    text-align: center;
    vertical-align: center;
}

.btn:hover {
    border-color: rgb(47, 11, 192);
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong)
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#cat-image {
    max-height: 300px;
    border: 20px solid black;
    align-items: center;
  }

  .imageDetails {
    background-color: black;
    margin-top: 50px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
  }

  .imageDetails a {
    color: #FFF;
  }

  .imageDetails a:hover {
    color: yellow;
  }
